<div>
    <h1>Gestione Utenti</h1>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user">{{user.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">{{user.username}}</td>
      </ng-container>
  
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let user">{{user.nome}}</td>
      </ng-container>
  
      <ng-container matColumnDef="ruoli">
        <th mat-header-cell *matHeaderCellDef>Ruoli</th>
        <td mat-cell *matCellDef="let user">{{user.ruoli.join(', ')}}</td>
      </ng-container>
  
      <ng-container matColumnDef="azioni">
        <th mat-header-cell *matHeaderCellDef>Azioni</th>
        <td mat-cell *matCellDef="let user">
          <button mat-raised-button color="primary" [routerLink]="['/user', user.id]">Modifica</button>
          <button mat-raised-button color="warn" (click)="deleteUser(user.id)">Elimina</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDefWithTemplate="let row; columns: displayedColumns;"></tr>
    </table>
  </div>